{% extends 'base.html' %}

{% block title %} Guilty Pleasure {% endblock %}

{% block content %}
    <h1>Guilty Pleasure</h1>
    <h4>(запретное удовольствие, тайная слабость) —</h4>
    <p></p>
    <p>нечто (например, фильм, сериал или музыкальное произведение), что вам нравится, несмотря на осознание того, что это произведение, в общем-то, не особенно широко признано. В последнее время этот феномен достаточно много исследуется, и среди исследователей распространена гипотеза о том, что что "плежер" возникает именно от того, что вы "гилти"; стыд усиливает чувство удовольствия.</p>
    <p>Бывало ли у вас так, что только что вы объясняли друзьям, что Моргенштерн — это кринж, как и Элджей, а через 10 минут по дороге домой "Кадиллак" играл у вас в наушниках, потому что вы просто не можете себя остановить? Если да, то, вероятно, в этот момент вы испытывали guilty pleasure.</p>
    <p>Мы предлагаем вам пройти анкету, чтобы узнать, насколько популярны ваши предметы  guilty pleasure и, возможно, немного себя успокоить:</p>
    <a class="btn btn-primary btn-lg btn-block" href="/survey" role="button">Заполнить анкету</a>
{% endblock %}